In [1]:
import pandas as pd
import os

In [2]:
FILE_PATH = os.path.join(os.path.sep, os.getcwd(), 'source', '')

In [3]:
query_years = input('Введите интересующие вас года через запятую: ')

Введите интересующие вас года через запятую: 2015

In [4]:
def get_filenames(years):
    years = list(years.split(', '))
    file_list = os.listdir(path=FILE_PATH)
    need_files = list()
    for file in file_list:
        for x in years:
            if x in file:
                need_files.append(file)
    return need_files

In [6]:
def get_top():
    frame = pd.DataFrame()
    my_q_files = get_filenames(query_years)
    my_dict = []
    for file in my_q_files:
        cols = ['name', 'gender', 'value']   
        df = pd.read_csv(FILE_PATH + file, index_col=None, header=None, names=cols)
        my_dict.append(df)
    frame = pd.concat(my_dict, keys=my_q_files, names=['year', 'id'])
    new = frame.groupby(['name']).sum()
    return new.sort_values(by='value', ascending=False).head(3)

In [7]:
get_top()

        value
name
Emma    20445
Noah    19750
Olivia  19678